    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <img src="/img/bifurcation.png" alt="Logistic" style="width:500px;height:500px;position: absolute;right:5px">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Elements</h2>Upcoming
                <p><h4><img src="/img/icon_atomic.svg" alt="" style="width:80px;height:80px;">&emsp; Atomic Algorithmic Strategies</h4></p>
                <p><h4><img src="/img/icon_data.svg" alt="" style="width:80px;height:80px;">&emsp; Alternative Data</h4>
                <p><h4><img src="/img/icon_model.svg" alt="" style="width:80px;height:80px;">&emsp; Feature Engineering</h4>
                <p><h4><img src="/img/icon_protocol.svg" alt="" style="width:80px;height:80px;">&emsp; Protocols (Dex & Cex)</h4></p>
                <p><h4><img src="/img/icon_ptfl.svg" alt="" style="width:80px;height:80px;">&emsp; Systematic Portfolio Management</h4></p>
            </div>
            
        </div>
    </section>