    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Elemium 466</h2>
                    <p>Ei466 library is designed to work seamlessly with popular Python libraries like Pandas, NumpPy, Scikit-learn, Darts, and Backtrader, 
                        allowing users to leverage the power of these libraries for market data manipulation, analysis, and modeling.
                        <br/><br/>By providing a specialized 
                        machine learning and market data analysis framework, Elemium 466 aims at simplifying the process of generating acurate, performant and robust algorithmic strategies with 
                        special emphasis on endogenous phenomena.                      
                    </p>
                    <a href="https://github.com/elemium466/elemium466.github.io" class="btn btn-default btn-lg">Get Ei466 Library</a>
                </div>
            </div>
        </div>
    </section>