    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img src="/img/logo.svg" alt="EI466" style="width:30vh;height:30vh;position:relative;top:-20px;left:0px">
                        <p class="brand-heading">{{ site.title }}</p>
                        <!--p class="intro-text">{{ site.description }}<b>Mchine</b><br>{{ site.description2 }}<br></p-->
                        <p class="intro-text">Elements of <b>Machine Learning </b>& <span style="color:#e6e620;">Synthetic </span><b style="color:#e6e620;">AI</b> 
                            <br>for Algorithmic <b>Trading</b><br></p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-down animated"></i>
                        </a><!--br/>
                        <img src="/img/elemium4.png" alt="EI466" style="width:350px;height:350px;"-->
                    </div>
                </div>
            </div>
        </div>
    </header>
